.heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 20;
    -fx-padding: 10px;
    -fx-background-color: linear-gradient(to right, #1d976c, #93f9b9);
    -fx-text-fill: white;
}